body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: white;
}

html {
    min-width: 1400px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

h1, h2, h3, p, a {
    letter-spacing: normal;
}

.header {
    position: relative;
    height: 765px;
    background-image: url(../recoures/headimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-wrapper {
    padding-top: 27px;
}

.namelogo {
    background-image: url(../recoures/black.png);
    padding: 3px 12px 3px 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.head__nav {
    float: right;
}

.head__nav a:hover {
    color: #da7bff;
}

.head__link {
    margin-right: 50px;
    font-size: 19px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.head__link:last-child {
    margin-right: 17px;
}

.head__text {
    position: absolute;
    width: 430px;
    height: 103px;
    left: 125px;
    bottom: 328px;
    font-size: 23px;
    font-weight: 400;
}

.head__text__im {
    position: absolute;
    left: 119px;
    bottom: 94px;
    width: 919px;
    height: 205px;
    font-size: 85px;
    font-weight: 400;
    color: #da7bff;
}

.nepon {
    width: 1140px;
    margin: 0 auto;
}