body {
    font-family: 'IBM Plex Mono', monospace;
    min-width: 1400px;
    font-weight: 400;
    background: #000;
}

html {
    scroll-behavior: smooth;
}

section {
    margin-top: 150px;
    color: white;
}

section:last-child {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

h1, h2, h3, p, a {
    letter-spacing: -0.03em;
}

header {
    position: relative;
    height: 765px;
    background-image: url(../recoures/headimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-wrapper {
    padding-top: 27px;
}

.namelogo {
    background-image: url(../recoures/black.png);
    padding: 3px 12px 3px 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.head__nav {
    float: right;
}

.head__nav a:hover {
    color: #3db0f2;
}

.head__link {
    margin-right: 50px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.head__link:last-child {
    margin-right: 17px;
}

.head__text {
    position: absolute;
    width: 430px;
    bottom: 328px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: white;
}

.head__title {
    position: absolute;
    width: 919px;
    bottom: 50px;
    font-size: 80px;
    line-height: 70px;
    font-weight: 400;
    color: #3db0f2;
}

.projects__list {
    margin-top: 40px;
}

.projects h2 {
    font-size: 55px;
}

.project {
    position: relative;
}

.project__wrapper {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.project__title {
    font-size: 35px;
    color: white;
}

.project__description {
    margin-top: 5px;
    font-size: 30px;
    color: white;
}

.project__btn {
    display: block;
    margin-top: 80px;
    width: 582px;
    height: 153px;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #3db0f2;
    background-color: #3db0f2;
    color: #000;
}

.project__btn:hover {
    background-color: #000;
    color: #3db0f2;
}

.competencies h2 {
    font-size: 55px;
}

.competencies__list {
    margin-top: 48px;
}

.competence {
    margin-top: 60px;
}

.competence:first-child {
    margin-top: 48px;
}

.competencies__title {
    width: 720px;
    margin-top: 12px;
    font-size: 35px;
    color: #3db0f2;
}

.competencies__description {
    width: 778px;
    margin-top: 15px;
    font-size: 22px;
    
}

.services h2 {
    width: 403px;
    font-size: 35px;
}

.services__list {
    margin-top: 74px;
}

.service {
    position: relative;
    margin-top: 74px;
}

.service:first-child {
    margin-top: 0;
}

.service:last-child {
    margin-top: 137px;
}

.services__title {
    position: absolute;
    top: 240px;
    left: 40px;
    font-size: 55px;
    color: #3db0f2;
}

.services__description {
    position: absolute;
    top: 327px;
    left: 40px;
    width: 749px;
    font-size: 22px;
    line-height: 28px;
    
}

.contacts {
    height: 717px;
    background-image: url(../recoures/cuate.png);
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 30px;
    background-color: #191C19;
}

.contacts__text {
    padding-top: 320px;
    font-size: 35px;
}

.contact {
    margin-top: 20px;
}

.contact:first-child {
    margin-top: 28px;
}

.contacts__link {
    font-size: 60px;
    text-decoration: none;
    color: white;
}

footer {
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.footer__description {
    padding-top: 76px;
    font-size: 22px;
}

.footer__text {
    padding-top: 66px;
    padding-bottom: 30px;
    font-size: 20px;
    opacity: 0.5;
}