body {
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 1400px;
    font-weight: 400;
    background: #000;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1150px;
    margin: 0 auto;
}

h1, h2, h3, p, a {
    letter-spacing: normal;
}

header {
    position: relative;
    height: 765px;
    background-image: url(../recoures/headimage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-wrapper {
    padding-top: 27px;
}

.namelogo {
    background-image: url(../recoures/black.png);
    padding: 3px 12px 3px 8px;
    background-repeat: no-repeat;
    background-size: contain;
}

.head__nav {
    float: right;
}

.head__nav a:hover {
    color: #da7bff;
}

.head__link {
    margin-right: 50px;
    font-size: 19px;
    line-height: 40px;
    color: white;
    text-decoration: none;
}

.head__link:last-child {
    margin-right: 17px;
}

.head__text {
    position: absolute;
    width: 430px;
    bottom: 328px;
    font-size: 23px;
    font-weight: 400;
    color: white;
}

.head__text__sasha {
    position: absolute;
    width: 919px;
    bottom: 50px;
    font-size: 85px;
    font-weight: 400;
    color: #da7bff;
}

.project {
    margin-top: 40px;
}

.projects {
    margin: 150px 0 0 0;
    color: white;
}
.projects h2 {
    font-size: 55px;
}

.project__link {
    position: absolute;
    left: 50px;
    bottom: 50px;

}

.project__item {
    position: relative;
}

.project__title {
    font-size: 35px;
    color: white;
}

.project__description {
    margin-top: 5px;
    font-size: 30px;
    color: white;
}

.project__btn {
    display: block;
    margin-top: 80px;
    width: 582px;
    height: 153px;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #1BFF07;
    background-color: #1BFF07;
    color: #000;
}

.project__btn:hover {
    background-color: #000;
    color: #1BFF07;
}

.competencies {
    margin-top: 150px;
    color: white;
}

.competencies h2 {
    font-size: 55px;
}

.competencies__item {
    margin-top: 48px;
}

.competencies__list {
    margin-top: 60px;
}

.competencies__list:first-child {
    margin-top: 48px;
}

.competencies__title {
    margin-top: 12px;
    font-size: 35px;
    color: #1BFF07;
}

.competencies__description {
    margin-top: 15px;
    font-size: 22px;
    letter-spacing: 8.2px;
}

.services {
    margin-top: 150px;
    color: white;
}

.services h2 {
    width: 403px;
    font-size: 35px;
}

.services__item {
    margin-top: 74px;
}

.services__list {
    position: relative;
    margin-top: 74px;
}

.services__list:first-child {
    margin-top: 0;
}

.services__list:last-child {
    margin-top: 137px;
}

.services__title {
    position: absolute;
    left: 40px;
    bottom: 170px;
    font-size: 55px;
    color: #1BFF07;
}

.services__description {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 749px;
    font-size: 22px;
    letter-spacing: 4.9px;
}